[flake8]
select = C,E,F,W
exclude =
    ./build,
    ./backends/npu/build,
    ./backends/mlu/build,
    ./backends/custom_cpu/build
ignore =
    # E, see https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes
    E203,
    E401,E402,
    E501,
    E721,E722,E731,E741,

    # F, see https://flake8.pycqa.org/en/latest/user/error-codes.html
    F405,
    F811,F841,

    # W, see https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes
    W503
per-file-ignores =
    # Ignore unused imports in __init__.py
    __init__.py: F401
    # Ignore undefined variables in CMake config and some dygraph_to_static tests
    .cmake-format.py: F821
