*.DS_Store
*.vs
build/
*.user
*.tmp
*.pyc
*.swp
*.diff

.vscode
.idea
.project
.cproject
.pydevproject
.settings/
CMakeSettings.json
Makefile
.test_env/

*~
bazel-*

build_*
# clion workspace.
cmake-build-*

Testing
tools/__pycache__

# ignore npu cache
kernel_meta*/

# ignore Paddle change
Paddle/
